{{range .Types}}
{{ .DocComment }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}
{{- if and (not .IsAlias) .Schema.Properties}}

// WithDefaults returns a copy of {{.TypeName}} with unset fields set to their OpenAPI defaults.
func (v {{.TypeName}}) WithDefaults() {{.TypeName}} {
{{- range .Schema.Properties}}
{{- $d := .Schema.OAPISchema.Default}}
{{- if and (ne $d nil) (not (.Schema.OAPISchema.Type.Is "array")) (not (.Schema.OAPISchema.Type.Is "object"))}}
{{- if .HasOptionalPointer}}
	if v.{{.GoFieldName}} == nil {
		v.{{.GoFieldName}} = new({{slice .GoTypeDef 1}}({{printf "%#v" $d}}))
	}
{{- else}}
	if v.{{.GoFieldName}} == *new({{.GoTypeDef}}) {
		v.{{.GoFieldName}} = {{printf "%#v" $d}}
	}
{{- end}}
{{- else if and .Schema.RefType .Schema.OAPISchema.Properties (eq $d nil)}}
{{- if .HasOptionalPointer}}
	if v.{{.GoFieldName}} != nil {
		withDefaults := v.{{.GoFieldName}}.WithDefaults()
		v.{{.GoFieldName}} = &withDefaults
	}
{{- else}}
	v.{{.GoFieldName}} = v.{{.GoFieldName}}.WithDefaults()
{{- end}}
{{- end}}
{{- end}}
	return v
}
{{- end}}
{{end}}
