{{range .Types}}
{{ .DocComment }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}
{{- if and (not .IsAlias) .Schema.Properties}}

// WithDefaults returns a copy of {{.TypeName}} with unset fields set to their OpenAPI defaults.
func (v {{.TypeName}}) WithDefaults() {{.TypeName}} {
{{- range .Schema.Properties}}
{{- $d := .Schema.OAPISchema.Default}}
{{- if ne $d nil}}
{{- if or .Schema.ArrayType .Schema.OAPISchema.AdditionalProperties.Schema}}
{{- $type := .GoTypeDef}}{{if .HasOptionalPointer}}{{$type = slice .GoTypeDef 1}}{{end}}
	if v.{{.GoFieldName}} == nil {
		value := {{$type}}{ {{- if .Schema.ArrayType}}{{range $i, $e := $d}}{{if $i}}, {{end}}{{printf "%#v" $e}}{{end}}{{else}}{{range $k, $e := $d}}{{printf "%q" $k}}: {{printf "%#v" $e}}, {{end}}{{end -}} }
		v.{{.GoFieldName}} = {{if .HasOptionalPointer}}&{{end}}value
	}
{{- else if .HasOptionalPointer}}
	if v.{{.GoFieldName}} == nil {
		v.{{.GoFieldName}} = new({{slice .GoTypeDef 1}}({{printf "%#v" $d}}))
	}
{{- else}}
	if v.{{.GoFieldName}} == *new({{.GoTypeDef}}) {
		v.{{.GoFieldName}} = {{printf "%#v" $d}}
	}
{{- end}}
{{- else if .Schema.OAPISchema.Properties}}
{{- if .HasOptionalPointer}}
	if v.{{.GoFieldName}} != nil {
		withDefaults := v.{{.GoFieldName}}.WithDefaults()
		v.{{.GoFieldName}} = &withDefaults
	}
{{- else}}
	v.{{.GoFieldName}} = v.{{.GoFieldName}}.WithDefaults()
{{- end}}
{{- end}}
{{- end}}
	return v
}
{{- end}}
{{end}}
